body{
  margin: 0;
  padding: 0;
  margin-bottom: 90%;
}

.blue-triangle{
  position: absolute;
  background-color: #e6fff5 ;
  top: -75%;
  right: -25%;
  left: 20%;
  width: 980px;
  height: 150%;
  z-index: -1;
  transform: rotate(-40deg);
}



.button-container{
  display: flex;
  
}

.dropdown-header{
  color: black;
  font-weight: 400;
  font-family: 'Proximanova opt', sans-serif;
}

.dropdown-text{
  color:#4c4d5f;
  font-family: 'Proximanova opt', sans-serif;
}

.dropdown-link{
  text-decoration: none;
}

.dropdown-icon{
  margin-left: 5px;
  cursor: pointer;
}


.dropdown-menu-1{
  font-size: 17px;
  font-weight: 400;
  color: #4c4d5f;
  cursor: pointer;
  font-family: 'Proximanova opt', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 360px;
  height: 360px;
  padding-left: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-right: 700px;
}



.dropdown-menu-2{
  font-size: 17px;
  font-weight: 400;
  color: #4c4d5f;
  cursor: pointer;
  margin-left: 40px;
  font-family: 'Proximanova opt', sans-serif;
}

.first-section{
  border: 1px solid black;
  height: 2000px;
  width: 100%;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 30px;
  padding-left: 40px ;
  padding-right: 40px ;

}

.header-link{
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: #4c4d5f;
  margin-left: 40px;
  font-family: 'Proximanova opt', sans-serif;
}




.header-button-1{
  display: block;
  color:#00b289;
  text-decoration: none;
  border: 1px solid #00b289;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  height: 35px;
  width: 120px;
  font-weight: 700;
  margin-right: 15px;
  padding-top: 15px;
  font-family: 'Proximanova opt', sans-serif;
}

.header-button-1:hover{
  display: block;
  color:#fff;
  text-decoration: none;
  border: 1px solid #00b289;
  background-color: #00b289;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  height: 35px;
  width: 120px;
  font-weight: 700;
  margin-right: 15px;
  padding-top: 15px;
  font-family: 'Proximanova opt', sans-serif;
}


.header-button-2{
  display: block;
 color: #fff;
 background-color: #00b289;
 border: 1px solid #00b289;
 border-radius: 4px;
 text-decoration: none;
 text-transform: uppercase;
 text-align: center;
 font-weight: 700;
 height: 35px;
 padding-top: 15px;
 width: 150px;
 font-family: 'Proximanova opt', sans-serif;
}

.header-button-2:hover{
  display: block;
 color: #fff;
 background-color: #009975;
 border: 1px solid #009975;
 border-radius: 4px;
 text-decoration: none;
 text-transform: uppercase;
 text-align: center;
 font-weight: 700;
 height: 35px;
 padding-top: 15px;
 width: 150px;
 font-family: 'Proximanova opt', sans-serif;
}


.logo-container{
  cursor: pointer;
}


.nav-items{
  display: flex;
}

.sticky-header{
  position: fixed;
  top:0;
  background-color: #fff;
  
  width: 100%;
  z-index: 100;
}

.first-section-txt{
  margin-top: 200px;
  color: #4c4d5f ;
  font-weight: 400;
  font-family: 'Amerigo-bt roman opt',sans-serif;

}










@media  (max-width: 800px) {
  
  .blue-triangle{
    position: absolute;
    background-color: #e6fff5 ;
    top: -50%;
    right: 0;
    left: 55%;
    width: 90%;
    height: 170%;
    z-index: -1;
    transform: rotate(-30deg);
  }
  


  .dropdown-icon{
    display: none;
  }
  
  .dropdown-menu-1{
    display: none;
  }
  
  .dropdown-menu-2{
    display: none;
  }
  
  .header-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 1px solid black;
  }
  
  .header-link{
   display: none;
  }
  
  .header-button-1{
 display: none;
  }
  
  .header-button-2{
    display: none;
 
  }
  
  .nav-items{
    display: none;
  }
  

}